@import "./node_modules/bootstrap/scss/bootstrap";

$enable-gradients: true !important;

// Override / set color variables
$theme-colors: (
  "primary": #F0F8FF,     //#88A7DF
  "secondary": #7193B0,   //#9D8CE1, 7193B0
  "accent": #FCD5D4,      //#7DDBD1
  "background": #FFFFFF,  //#BCE0FD
);

$headings-color: var(--secondary);
$body-color: var(--secondary);

$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)); //todo
$background-image: var(--bs-gradient); //todo


.breadcrumb-item a {
  color: var(--secondary);   //var(--background);
}

.breadcrumb-item {
  color: var(--secondary);   //var(--background);
}


.breadcrumb {
  background-color: var(--foreground) !important;
}


